.editor-container {
    position: relative;
    height: 100%;
}

.editor {
    position: absolute;
    top: 60px;
    width: 79%;
    height: 660px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.editor.open,
.properties-panel.open {
    visibility: visible;
}

.editor.closed,
.properties-panel.closed {
    visibility: hidden;
}

.properties-panel {
    position: absolute;
    right: 13px;
    width: 20%;
    height: 720px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.intro-text {
    position: relative;
    top: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
}

/* For buttons */
.button-container {
    position: absolute;
    top: 10px;
    left: 10px;
}

.action-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 10px;
}

.action-button.deploy-button {
    margin-left: 850px;
}

.action-button:hover {
    background-color: #0056b3;
}

/* For links */
.create-link,
.load-link {
    border: none;
    background: none;
    color: blue;
    padding: 0;
    font: inherit;
}

.create-link:hover,
.load-link:hover {
    color: red;
    cursor: pointer;
}

/* Styles for the modal */
.modal {
    display: none;
    position: absolute;
    z-index: 9999;
    top: 440px;
    left: 10px;
    width: 300px;
    background-color: rgba(0, 0, 0, 0.545);
}

.modal.open {
    display: block;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 100%;
}

/* Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Input Container */
.deploy-form {
    margin-top: 20px;
}

/* Input Fields */
.deploy-form input[type="text"] {
    width: calc(100% - 10px);
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.error-panel {
    display: none;
    position: absolute;
    top: 10px;
    z-index: 99999;
    width: 98%;
    background-color: #ffcccc;
    border: 1px solid #ff0000;
    padding: 10px;
    margin-left: 2px;
}

.error-panel.shown {
    display: block;
}

.error-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.error-message {
    color: #f94040e8;
    font-weight: bold;
    margin-bottom: 10px;
    margin-right: 10px;
    word-wrap: break-word;
    overflow: auto;
    max-width: 90%;
}

.action-button.error {
    background-color: #ff0000;
    color: #ffffff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-top: 10px;
}

.action-button.error:hover {
    background-color: #cc0000;
}