.editor-container {
    position: relative;
    height: 100%;
}

.editor {
    position: absolute;
    top: 60px;
    width: 79%;
    height: 660px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.editor.open,
.properties-panel.open {
    visibility: visible;
}

.editor.closed,
.properties-panel.closed {
    visibility: hidden;
}

.properties-panel {
    position: absolute;
    right: 13px;
    width: 20%;
    height: 720px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.intro-text {
    position: relative;
    top: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
}

/* For buttons */
.button-container {
    position: absolute;
    top: 10px;
    left: 10px;
}

.action-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 10px;
}

.action-button:hover {
    background-color: #0056b3;
}

.error-message {
    position: relative;
    top: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.error-text {
    color: rgba(185, 21, 21, 0.752);
    font-style: bold;
    font-size: larger;
    font-weight: bold;
    margin-bottom: 10px;
}

/* For links */
.create-link,
.load-link {
    border: none;
    background: none;
    color: blue;
    padding: 0;
    font: inherit;
}

.create-link:hover,
.load-link:hover {
    color: red;
    cursor: pointer;
}